*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Nunito', sans-serif;

}

header{
    background-color: rgb(241, 236, 236);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-style: solid 0px,0px,10px,0px;
    position: fixed;
    top: 0;
    color: white;
}

header div{
    padding: 25px;

}
.headerlink:hover{
    color: darksalmon;
}

.boton{
    background-color:darksalmon;
	border-radius: 2em;
    height: 5px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    border:1px solid rgb(231, 126, 91);
}

.boton:hover{
    background-color: rgb(235, 179, 160);

}

#section1{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.presentacion{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

}

.hola{
    font-size: 40px;
    text-align: center;
}

.rocio{
    font-size: 70px;
    color: darksalmon;
    font-family: 'Satisfy', cursive; 
    text-align: center;
}

.imagen1{
    width: 50%;
    height: auto;
}

.imagenperfil{
    width: 400px;
    height: auto;
}


.loquehago{
    background-color:darksalmon;
	border-radius:28px;
	border:1px solid rgb(231, 126, 91);
	display:inline-block;
	cursor:pointer; 
	padding:16px 31px;
	text-decoration:none;
    font-weight: bold;
    margin-top: 3em;
}

.loquehago:hover{
    color: white;
    background-color: rgb(235, 179, 160);
}
#section2{
    width: 100%;
    height: auto;
    background-color: rgb(228, 227, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.misconocimientos{
    text-align: center;
    padding: 5em;
}

.misconocimientostit{
    font-size: 45px;
}

.contenedor-conocimientos{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icono{
    width: 400px;
    height: 40vh;
    background-color: beige;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.icono:hover{
    border: 1px solid darksalmon;
}
#miscon{
    width: 100%;
    height: 50%;
}

#section3{
    height: auto;
    width: 100%;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   
.comillas{
    width: 20%;
    height: 20%;
}
.comillasicon{
    font-size: 100px;
    text-align: center;
}
.cita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 70px;
    width: 60%;
    font-size: larger;
}

.autor{
    padding: 50px;
}

#section4{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.misproyectos{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.misproyectostit{
    font-size: 45px;
}
.misconocimientostext{
    text-align: center;
    padding: 2em;
}
.misproyectosimg{
    width: 100%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proyecto1, .proyecto2, .proyecto3, .proyecto4, .proyecto5, .proyecto6, .proyecto7{
    width: 400px;
    height: 40vh;
    margin-bottom: 5vh;
    border: 0.5px solid lightgray;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto1:hover, .proyecto2:hover, .proyecto3:hover, .proyecto4:hover, .proyecto5:hover, .proyecto6:hover, .proyecto7:hover{
    border: 1px solid darksalmon;
}

#img{
    text-align: center;
    width: 70%;
    height: 70%;
}

#section5{
    height: auto;
    width: 100%;
    background-color: rgb(228, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto{
    width: 70%;
    height: auto;
    margin-top: 10em;
    margin-bottom: 10em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid lightgray;
    border-radius: 0.5em;
}

.contactamecontenedor{
    width: 50%;
    height: 80vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.contactametit{
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
}

.contactamep{
    padding: 5vh;
    text-align: center;
}

.lista{
    list-style: none;
    padding: 5px;
    position: relative;
    left: -50px;
     
}

li{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.ilicon,.illink{
    padding: 5px;
    font-size: 20px;
    color: darksalmon;
}

.ilicon{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ilicon:hover{
    color: white;
    background-color: darksalmon;
    border-radius: 50%;
}
.escribimecontenedor{
    width: 50%;
    height: 80vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.escribimetit{
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
}

form{
    padding: 10px;
}

.nya{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
}

.email, .mensaje{
    padding-bottom: 25px;
}


.enviar{
    background-color:darksalmon;
	border-radius: 28px;
	display:inline-block;
	cursor:pointer; 
    width: 80px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
}

.enviarboton{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.enviarp{
    margin-top: 6px;
}

.enviar:hover{
    color: white;
    background-color: rgb(235, 179, 160);
}

input{
    background-color: rgb(231, 229, 229);
    border: 1px solid rgb(231, 229, 229);
    height: 30px;
    width: 95%;
    border-radius: 20px;
    padding: 3px;
    outline: none;
}

textarea{
    outline: none;
}

input:focus, textarea:focus{
    transition: 0.01s;
    box-shadow: darksalmon 0px 1px 3px 0px, darksalmon 0px 0px 0px 1px;
}

#email{
    width: 100%;
}

footer{
    width: 100%;
    height: 200px;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
}
.footer1, .footer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.foot{
    margin: 15px;
}

.foot1{
    margin: 15px;
    font-size: 20px;
    background-color: white;
    color: darksalmon;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot1:hover{
    background-color: darksalmon;
    color: white;
    border: 1px solid white;
}

@media screen and (min-width:601px) and (max-width:900px){
   
    header{
        display: none;
        visibility: hidden;
    }
    #section1{
        display:flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #section5{
        background-color: white;
    }

    .contacto{
        border: none;
        display: flex;
        flex-direction: column;
    }

}
    @media screen and (min-width: 0px) and (max-width: 600px){
        header{
            display: none;
            visibility: hidden;
        }
        #section1{
            display:flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    
        #section5{
            background-color: white;
        }
    
        .contacto{
            border: none;
            display: flex;
            flex-direction: column;
        }
    
        .imagen1{
            width: 100%;
            height: auto;
        }
    
        .imagenperfil{
            max-width: 100%;
        }
    
        .footer1{
            display: none;
            visibility: hidden;
        }

    }
