*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Nunito', sans-serif;

}

nav{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 100px;
    box-shadow: 0px -5px 43px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -5px 43px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 43px 3px rgba(0,0,0,0.75);
}

nav div{
    padding: 25px;
}

.boton{
    background-color:darksalmon;
	border-radius:28px;
	border:1px solid rgb(231, 126, 91);
	display:inline-block;
	cursor:pointer; 
	padding:16px 31px;
	text-decoration:none;
    font-weight: bold;
}

#section1{
    height: 700px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacion{
    width: 30%;
}

.hola{
    font-size: 40px;
}

.rocio{
    font-size: 70px;
    color: darksalmon;
    font-family: 'Satisfy', cursive; 
}

.imagen1{
    width: 30%;

}
#imagen1{
    height: 400px;
    width: 100%;
}

.loquehago{
    background-color:darksalmon;
	border-radius:28px;
	border:1px solid rgb(231, 126, 91);
	display:inline-block;
	cursor:pointer; 
	padding:16px 31px;
	text-decoration:none;
    font-weight: bold;
    margin-top: 3em;
}

#section2{
    height: auto;
    width: 100%;
    background-color: rgb(228, 227, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.misconocimientos{
    text-align: center;
    padding: 5em;
}

.misconocimientostit{
    font-size: 45px;
}

.primeras3{
    width: 900px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.segundas3{
    width: 900px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icono{
    width: 30%;
    height: 100%;
    background-color: beige;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#miscon{
    width: 50%;
    height: 50%;
}

#section3{
    height: 450px;
    width: 100%;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   
.comillas{
    width: 20%;
    height: 20%;
}
.comillasicon{
    font-size: 100px;
    text-align: center;
}
.cita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 70px;
    width: 60%;
    font-size: larger;
}

.autor{
    padding: 50px;
}

#section4{
    height: 1200px;
    width: 100%;
    background-color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.misproyectos{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.misproyectostit{
    font-size: 45px;
}
.misconocimientostext{
    text-align: center;
    padding: 2em;
}
.misproyectosimg{
    width: 80%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.primeros3{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    justify-content: space-around;
}

.segundos3{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    justify-content: space-around;
}

.terceros3{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;

}
.proyecto1, .proyecto2, .proyecto3, .proyecto4, .proyecto5, .proyecto6{
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 0.5px solid lightgray;
    border-radius: 0.5em;
}

.proyecto7{
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 0.5px solid lightgray;
    border-radius: 0.5em;
}

#img{
    text-align: center;
    width: 70%;
    height: 70%;
}

